/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './var';

body {
  font-family: $font;
  font-weight: $w-reg;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}