/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './var';

body {
  color: #fff;
  font-family: $font;
  font-weight: $w-reg;
  background: $bg;
}

a, a:focus, button, button:focus, .btn, .btn:focus, *:focus{
  outline: 0;
  box-shadow: none;
}

a:hover {
  text-decoration: none;
  .btn {
    text-decoration: none;
  }
}